@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Pacifico&display=swap');
body {
    top: 0;
    position: absolute;
    margin: 0;
    color: white;
    font-size: 1.5em;
    background-color: #2a2836;
    font-family: 'Comfortaa', cursive;
}
html {
    font-size: 100%;
}
#root {
    top: 0;
    position: absolute;
}